<div class="container mt-4">
  <div class="text-center mb-4">
    <h2>Contact Me</h2>
    <p>
      Feel free to reach out to me through any of the following platforms.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="info-card text-center">
        <i class="fab fa-linkedin fa-3x text-primary mb-3"></i>
        <h5 class="card-title">LinkedIn</h5>
        <p class="card-text">Connect and message me for professional networking.</p>
        <a href="https://www.linkedin.com/in/gabrielcampos07/" target="_blank" class="btn btn-primary">Visit LinkedIn</a>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="info-card text-center">
        <i class="fas fa-envelope fa-3x text-primary mb-3"></i>
        <h5 class="card-title">Email</h5>
        <p class="card-text">Send your questions, suggestions, or comments.</p>
        <a href="mailto:gabriel.c.depaula@gmail.com" target="_blank" class="btn btn-primary">Send Email</a>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="info-card text-center">
        <i class="fab fa-github fa-3x text-primary mb-3"></i>
        <h5 class="card-title">GitHub</h5>
        <p class="card-text">Explore my projects and code repositories. Follow me please!</p>
        <a href="https://github.com/GabrielCampos07" target="_blank" class="btn btn-primary">Visit GitHub</a>
      </div>
    </div>
  </div>
</div>
